<h1>{{itemObject.titulo}}</h1>
<p>
    {{itemObject.autor}}
</p>
<div class="row">
    <div class="col-md-10 bg-dark text-light m-3">
        <p>
            Mussum Ipsum, cacilds vidis litro abertis.  Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Atirei o pau no gatis, per gatis num morreus. Diuretics paradis num copo é motivis de denguis. A ordem dos tratores não altera o pão duris.
        </p>
        <p>
            Paisis, filhis, espiritis santis. Negão é teu passadis, eu sou faxa pretis. Si num tem leite então bota uma pinga aí cumpadi! Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
        </p>
        <p>
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Per aumento de cachacis, eu reclamis. Quem manda na minha terra sou euzis! Viva Forevis aptent taciti sociosqu ad litora torquent.
        </p>

        <button class="btn btn-success">
            Encontrar livro
        </button>
    </div>
</div>